/*  Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}
  /* colores*/
:root {
    --main-color: #FF6B6B;
    --hover-color:  hsl(350, 100%, 66%);
    --body-color: #1B1A29;;
    --container-color: #2C2B3D;
    --text-color: #F5E6CC;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
body{
    background: var(--body-color);
    color: var(--text-color);
}
